html
  head
    title Document
    link(rel="stylesheet", href="./styles/index.css")
  body
    form(method="get")
      label From
        input(type="text" list="fromStationList" name="from" placeholder="Amsterdam Centraal" required)
        datalist#fromStationList
          each station in stationsData
            option(value=station)
      label To
        input(type="text" list="toStationList" name="to" placeholder="Rotterdam Stadion" required)
        datalist#toStationList
          each station in stationsData
            option(value=station)
      button(type="submit") Submit
    main
      table
        each routePart in routeData.ReisDeel
          tr
            th TrainID
            th Station
            th Vertrek Tijd
            th Spoor
            th Spoor Wijziging
          each station in routePart.ReisStop
            tr
              td= routePart.RitNummer
              td= station.Naam
              td= station.Tijd
              td= station.Spoor
              td= station.SpoorWijziging
      section
        form#messageForm(data-routeid=routeID)
          label Title
            input#messageTitleInput(type="text")
          label Category
            input#messageCategoryInput(type="text")
          label Train ID
            input#messageTrainIDInput(type="text")
          label Message
            input#messageBodyInput(type="text")
          button#postNewMessage(type="submit") Submit
        ul#messagesList
          each msg in messages
            li
              p Title: #{msg.title}
              p Category: #{msg.category}
              p Train ID: #{msg.trainID}
              p Message: #{msg.body}
    //- pre= JSON.stringify(routeData, null, 2)
    script(src="/socket.io/socket.io.js")
    script(src="./scripts/index.js")